@charset "utf-8";
table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
}
th, td{
    padding: 30px;
}
th{
    background-color:aqua;
}
td{background-color: rgb(127, 255, 212)}
body{background-color: rgb(255, 255, 0)}